/* -----------------------------------------
   Home page slider
----------------------------------------- */

.home-slider:not(.slick-initialized) {
  &::after {
    content: '';
    display: table;
    clear: both;
  }

  .home-slide:first-child {
    display: block;
  }
}

.home-slider.slick-dotted {
  @include breakpoint(large) {
    margin-bottom: -(rem-calc(67px));
  }

  .slick-dots {
    font-size: 0;
    position: absolute;
    top: 85%;

    li {
      button::before {
        color: $white;
      }

      &:only-child {
        display: none;
      }
    }
  }

  .videoHolder {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;

    .video {
      pointer-events: none;

      @include absolute-center;
    }
  }
}

.home-slide {
  width: 100%;
  height: 1250px; /* define the height of slide */
  transition: height 0.3s ease;

  @include breakpoint(medium down) {
    height: 570px;
  }

  @include breakpoint(small down) {
    height: 400px;
  }

  &__inner {
    @extend %bgcover;
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    background-position: 0 0;
  }

  &__caption {
    .cell {
      margin-left: rem-calc(20px);
      @include breakpoint(medium) {
        margin-top: rem-calc(64px);
      }
    }

    h3 {
      font-size: clamp(
        40px,
        calc(40px + (98 - 40) * ((100vw - 375px) / (1920 - 375))),
        98px
      );
      font-weight: 900;
      font-family: $sub-font;
      max-width: rem-calc(640px);
      letter-spacing: 0.25rem;
      line-height: 121%;
      @include breakpoint(medium) {
        margin-bottom: rem-calc(37px);
      }
    }

    p {
      font-size: rem-calc(28px);
      max-width: rem-calc(365px);
      letter-spacing: 0.05rem;
      line-height: 120%;
      @include breakpoint(medium down) {
        font-size: rem-calc(20px);
      }
    }
  }
}
