.films {
  margin-bottom: rem-calc(123px);

  &__table {
    display: grid;
    max-width: rem-calc(1320px);
    margin: auto;
  }

  &__row {
    display: contents;

    &--labels {
      .films__cell {
        background-color: $white;
        color: $black;
        font-size: rem-calc(20px);
      }
    }
  }

  &__cell {
    font-size: rem-calc(20px);
    color: $sand;
    padding: 0 rem-calc(15px);
    border: 1px solid $white;
    min-height: rem-calc(50px);
    letter-spacing: 0.06rem;
    line-height: 230%;
    &--num {
      text-align: end;

      &::before {
        text-align: start;
      }
    }

    &--num-label {
      text-align: center;
    }
  }
}

@include breakpoint(medium down) {
  .films {
    &__cell {
      font-size: rem-calc(14px);
      line-height: 3.125rem;
    }

    &__table {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) !important;
      gap: 10px;
    }

    &__row {
      display: flex;
      flex-direction: column;
      border: 1px solid $text-color;

      &--labels {
        display: none;
      }
    }

    &__cell {
      display: flex;
      justify-content: space-between;
      gap: 10px;

      &::before {
        content: attr(data-label);
        position: relative;
      }
    }
  }
}
.contact-form {
  padding-top: rem-calc(80px);
  padding-bottom: rem-calc(100px);
  position: relative;
  @include breakpoint(large) {
    padding-top: rem-calc(166px);
    padding-bottom: rem-calc(280px);
  }

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('../images/contact-decoration.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center 0;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    @include breakpoint(large) {
      top: -13px;
    }
  }

  &__description {
    margin-bottom: rem-calc(126px);

    h2 {
      font-size: rem-calc(80px);
      text-transform: uppercase;
      text-align: center;
      font-family: $sub-font;
      font-weight: 900;
      line-height: 120%;
      letter-spacing: 1rem;
    }
  }

  .gform_fields {
    row-gap: rem-calc(56px) !important;
  }

  &__wrapper {
    max-width: rem-calc(535px);
    margin: auto;
  }

  select {
    line-height: rem-calc(70px) !important;
  }

  option {
    background: $matt-black;
    color: $text-color;
    font-size: rem-calc(14px);
    font-family: $sub-font;
  }

  .gform_footer {
    margin-top: rem-calc(40px) !important;
  }

  @include breakpoint(medium down) {
    &__description {
      margin-bottom: 3rem;

      h2 {
        font-size: rem-calc(40px);
      }
    }
    .gform_fields {
      row-gap: 2rem !important;
    }
  }
}
