.contact-form {
  padding-top: rem-calc(80px);
  padding-bottom: rem-calc(100px);
  position: relative;
  @include breakpoint(large) {
    padding-top: rem-calc(166px);
    padding-bottom: rem-calc(280px);
  }

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('../images/contact-decoration.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center 0;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    @include breakpoint(large) {
      top: -13px;
    }
  }

  &__description {
    margin-bottom: rem-calc(126px);

    h2 {
      font-size: rem-calc(80px);
      text-transform: uppercase;
      text-align: center;
      font-family: $sub-font;
      font-weight: 900;
      line-height: 120%;
      letter-spacing: 1rem;
    }
  }

  .gform_fields {
    row-gap: rem-calc(56px) !important;
  }

  &__wrapper {
    max-width: rem-calc(535px);
    margin: auto;
  }

  select {
    line-height: rem-calc(70px) !important;
  }

  option {
    background: $matt-black;
    color: $text-color;
    font-size: rem-calc(14px);
    font-family: $sub-font;
  }

  .gform_footer {
    margin-top: rem-calc(40px) !important;
  }

  @include breakpoint(medium down) {
    &__description {
      margin-bottom: 3rem;

      h2 {
        font-size: rem-calc(40px);
      }
    }
    .gform_fields {
      row-gap: 2rem !important;
    }
  }
}
