.logo {
  text-align: end;
  @include breakpoint(large) {
    text-align: start;
  }

  a {
    display: inline-block;
  }

  img {
    max-height: 150px;
    vertical-align: bottom;
  }
}
.sticky-container {
  z-index: 10;
  height: 0px !important;
}
.header {
  padding-top: rem-calc(4px);
  transition: 0.3s cubic-bezier(0.319, -0.036, 0.513, 0.982);
  transition-property: background-color, height, padding, margin, display;
  &.is-stuck {
    position: fixed !important;
    top: 0 !important;
    left: 0;
    right: 0;
    width: 100% !important;
    background-color: $violet !important;
    z-index: 9999 !important;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding-top: rem-calc(26px) !important;
    padding-bottom: rem-calc(26px) !important;
    margin-top: 0 !important;
  }

  @include breakpoint(large) {
    padding-top: rem-calc(10px);
  }
  .menu-icon {
    color: $text-color;
    display: flex;
    height: auto;
    width: auto;
    align-items: center;
    font-weight: 700;
    &::after {
      display: none;
    }
    &::before {
      content: '';
      position: relative;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cg fill='%23fff' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath d='M19.5 8.25h-15v-1.5h15v1.5ZM19.5 12.75h-15v-1.5h15v1.5ZM19.5 17.25h-15v-1.5h15v1.5Z'/%3E%3C/g%3E%3C/svg%3E");
      display: block;
      height: rem-calc(31px);
      width: rem-calc(47px);
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &:has(.menu-icon.is-active) {
    background: $violet;
  }
}

@include breakpoint(medium down) {
  /* TOP BAR Mobile STYLING */

  .header {
    padding-bottom: rem-calc(15px);
    &__logo {
      order: 2;
    }
  }

  .top-bar {
    display: none;
  }

  .header-menu-inner {
    background: transparent;
    gap: rem-calc(29px);
    margin-bottom: rem-calc(20px);
    padding-top: 3px;
    li {
      > a {
        color: $white; /* menu item text color */
        letter-spacing: -0.09rem;
        text-transform: capitalize;
        padding: 0 !important;
      }
    }

    .submenu-toggle {
      padding: 0;
    }

    .submenu {
      a {
        padding-left: #{get-side($accordionmenu-padding, 'left') * 1.65};
      }

      .submenu {
        a {
          padding-left: #{get-side($accordionmenu-padding, 'left') * 2.3};
        }
      }
    }
  }
}

@media (min-width: 1040px) {
  .header {
    .header-menu-inner {
      &__content {
        &::before {
          content: '';
          height: rem-calc(14px);
          width: rem-calc(92px);
          display: block;
          background: url('../images/bow-and-arrow.png');
          left: rem-calc(43px);
        }
      }
    }
  }
}

.header__search .search {
  border-radius: rem-calc(10px);
  font-family: $sub-font;
  @include breakpoint(large) {
    display: none;
  }

  &__form {
    display: flex;
  }

  &__submit {
    background: $primary;
    border-radius: 0 rem-calc(10px) rem-calc(10px) 0;
    position: relative;
    color: $text-color;
    padding: rem-calc(10px) rem-calc(17px);

    &:hover {
      background: $wet-sand;
    }
  }

  &__input {
    border-radius: rem-calc(10px) 0 0 rem-calc(10px);
    border: 3px solid $wet-sand;
    border-right: none;
    background: $matt-black;
    font-size: rem-calc(22px);
    padding-right: rem-calc(10px);
    color: $text-color;
    height: rem-calc(50px);
    padding-left: rem-calc(18px);
    @include breakpoint(large) {
      padding-left: rem-calc(26px);
    }
    &:focus {
      background: $matt-black;
    }

    &::placeholder {
      color: $dark-grey;
    }
  }
}

input[type='search' i]::-webkit-search-cancel-button {
  display: none;
}

.header {
  position: relative;

  &__search {
    position: relative;
  }

  &__search-button {
    color: $text-color;
  }

  &__content {
    display: flex;
    align-items: center;
  }
}

.top-bar {
  transition: 0.3s cubic-bezier(0.319, -0.036, 0.513, 0.982);
  display: block;
  background: $violet;
  color: $white;
  z-index: 99;
  top: rem-calc(51px);
  left: 0;
  right: 0;
  padding: rem-calc(20px) rem-calc(15px) rem-calc(15px);
  @media screen and (max-width: 640px) {
    top: rem-calc(51px) !important;
  }
  @media screen and (max-width: 1020px) {
    top: 5.1875rem;

    .header.is-stuck & {
      top: 6.6875rem !important;

      @include breakpoint(small down) {
        top: 5.1875rem !important;
      }
    }
  }
}

@include breakpoint(large) {
  .header__search .search {
    position: absolute;
    width: rem-calc(305px);
    right: -3px;
    top: rem-calc(52px);
    &__input {
      border-color: $primary;
    }
  }
  .header {
    padding-top: rem-calc(47px);
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 3;
    background: transparent;
    &__content {
      margin-right: rem-calc(23px) !important;
      gap: rem-calc(24px);
      position: relative;
      justify-content: flex-end;
    }

    &__search-button {
      cursor: pointer;
      font-size: rem-calc(25px);

      &:hover {
        color: $primary;
      }
    }
  }
  /* TOP BAR STYLING */

  .header-menu-inner.menu {
    /* Align menu items to the right */
    // justify-content: flex-end;

    /* Align menu items to the center */
    // justify-content: center;

    li {
      > a {
        /* Regular menu item style */
        color: $text-color;
        font-family: $sub-font;
        font-weight: 900;
        letter-spacing: -0.01rem;
        text-transform: uppercase;
        font-size: rem-calc(17px) !important;
        padding: 0.7rem rem-calc(10px) !important;
        line-height: 45px;

        @include breakpoint(1285) {
          font-size: rem-calc(22px) !important;
          padding: 0.7rem 0.875rem !important;
        }

        &:hover {
          /* menu item style on hover */
          background: transparent;
          color: $primary;
        }
      }

      &.current-menu-item,
      &.current_page_ancestor,
      &.current_page_parent {
        > a {
          /* Style of Current page and Ancestor page */
          background: $primary;
          color: $black;
        }
      }

      &.has-dropdown {
        > a {
          /* Style of item with dropdown */
        }
      }

      &.is-active > a {
        /* Parent link style on dropdown hover */
        color: $primary;
      }
    }

    /* Dropdown item styling */
    .is-dropdown-submenu {
      background: transparent;
    }

    li.is-dropdown-submenu-parent > a::after {
      border-color: $text-color rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    }

    .submenu {
      z-index: 11;
      display: none;

      &.js-dropdown-active {
        display: block;
      }

      li {
        > a {
          /* Regular link in dropdown */
          line-height: 30px;
          color: $text-color;
          background: transparent;
          padding: 0.7rem rem-calc(14px) !important;

          &:hover {
            /* Dropdown link on hover */
            color: $primary;
            background: transparent;
          }
        }

        &.current-menu-item,
        &.current_page_ancestor,
        &.current_page_parent {
          > a {
            color: $primary;
            background: transparent;
          }
        }
      }

      .submenu {
        /* Styles for 2nd level dropdown menu */
      }
    }
  }
  .top-bar {
    background: transparent;
    display: flex;
    top: 0;
    justify-content: flex-end;
    padding: 0;
    align-items: center;
    gap: rem-calc(26px);
  }
}
