.accordion,
.accordion-content,
.accordion-title:hover,
.accordion-title:focus {
  background: transparent;
}

.accordion-title {
  padding: rem-calc(29px) 2rem;
  border: none;
  font-size: rem-calc(40px);
  text-transform: uppercase;
  color: $text-color;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' stroke='%23fff' transform='rotate(90)' viewBox='0 0 15 15'%3E%3Cpath d='M7.538 2c-.294 0-.488.177-.615.385l-5.846 9.538C1 12 1 12.153 1 12.308c0 .538.385.692.692.692h11.616c.384 0 .692-.154.692-.692 0-.154 0-.231-.077-.385l-5.77-9.538C8.029 2.177 7.789 2 7.539 2z'/%3E%3C/svg%3E");
    right: rem-calc(45px);
    height: rem-calc(46px);
    width: rem-calc(46px);
    background-size: contain;
    background-repeat: no-repeat;
    top: 2rem;
    transition: $transition;
  }

  &:hover,
  &:focus {
    color: $primary;
  }

  @include breakpoint(medium down) {
    padding: rem-calc(15px) 3rem rem-calc(15px) 1rem;
    font-size: rem-calc(20px);
    &::before {
      height: rem-calc(22px);
      right: 0.8125rem;
      top: 1.3rem;
      width: rem-calc(22px);
    }
  }
}

.accordion-content {
  color: $text-color;
  font-size: rem-calc(28px);
  @include breakpoint(medium down) {
    padding: 1rem;
    font-size: 1rem;
  }

  p {
    margin-bottom: rem-calc(14px);
    margin-top: 0.25rem;
    line-height: 150%;
    letter-spacing: 0.037rem;
  }
}

.is-active > .accordion-title:before {
  content: '';
}

.accordion-item {
  border: 5px solid $primary;

  &:not(:last-of-type) {
    margin-bottom: 35px;
  }

  &.is-active {
    .accordion-title {
      border-bottom: 5px solid $primary;

      &::before {
        transform: rotate(90deg);
      }
    }
  }
}

.side_tabs {
  padding-top: rem-calc(80px);
  padding-bottom: rem-calc(107px);

  a,
  p {
    font-size: rem-calc(16px);
  }

  .tabs {
    display: flex;
    flex-direction: column;
    background: transparent;
    border: none;
    gap: rem-calc(10px);
  }

  .accordion-item {
    border-width: 3px;

    &.is-active .accordion-title {
      border-bottom-width: 3px;
    }
  }

  .accordion-content {
    img {
      object-fit: cover;
    }

    p {
      line-height: 121%;
      margin-bottom: 0;
    }
  }

  .tabs-panel {
    img {
      width: 100%;
      height: rem-calc(445px);
      object-fit: cover;
    }

    &__content {
      margin-top: rem-calc(29px);
      @include breakpoint(medium down) {
        margin-top: rem-calc(14px);
      }
    }
  }

  .accordion-title,
  .tabs-title > a {
    color: $text-color;
    font-size: rem-calc(20px);
  }

  .tabs-title > a:focus,
  .tabs-title > a:hover,
  .tabs-title > a[aria-selected='true'] {
    color: $primary;
    text-decoration: underline;
    background: transparent;
  }

  .tabs-content {
    background: transparent;
    color: $text-color;
    border: none;
  }

  @include breakpoint(large) {
    padding-top: rem-calc(223px);

    .tabs-title > a,
    a,
    p {
      font-size: rem-calc(28px);
      letter-spacing: 0.07rem;
    }
    p {
      line-height: 177%;
    }
    .tabs {
      gap: rem-calc(72px);
      margin-top: rem-calc(21px);
    }
    .tabs-title > a {
      padding: 0 0.25rem;
    }
    .tabs-panel {
      padding-right: 0.5rem;

      &__content {
        margin-top: rem-calc(27px);
      }
    }
  }
}
